HOST=localhost
PORT=YOUR_INTERNAL_PORT
EXTERNAL_PORT=YOUR_EXTERNAL_PORT
MONGO_DB_URI=YOUR_MONGODB_URI(e.g. mongodb://localhost:27017/YourTodoDatabase)
VERIFICATION_TOKEN_SECRET_KEY=RANDOM_STRING_KEY
ACCESS_TOKEN_SECRET_KEY=RANDOM_STRING_KEY
REFRESH_TOKEN_SECRET_KEY=RANDOM_STRING_KEY
EMAIL=YOUR_EMAIL
EMAIL_PASSWORD=YOUR_APP_PASSWORD
NODE_ENV=development
CSRF_SECRET=RANDOM_STRING_KEY
